---
// import ProductCard from "@components/home/PanoramicView/ProductCard.astro";
import { ServiceCard } from "@/components/home/PanoramicView/ServiceCard";
import { ProductCard } from "@/components/home/PanoramicView/ProductCard";

const { data, title, type = "one", hoverable = false } = Astro.props;
---

<div class="ana-box">
  <div class="h-[2.625rem] leading-[2.625rem] text-left text-sm">{title}</div>
  {
    type === "two" ? (
      <div class="service-box">
        {data.map((it) => (
          <ServiceCard
            client:load
            item={it}
            direction="rb"
            hoverable={hoverable}
          />
        ))}
      </div>
    ) : (
      <div>
        {data.map((it) => (
          <ProductCard
            client:load
            item={it}
            direction={type === "events" ? "lb" : "top"}
            hoverable={hoverable}
          />
        ))}
      </div>
    )
  }
</div>

<style is:global>
  .ana-box {
    padding: 0 0.75rem;
    text-align: center;
    opacity: 1;
    border: 0.8px solid #4c505d;
    border-radius: 9px;
    background: #161312;
  }

  .service-box {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
  }
</style>
