---
import { useTranslations } from "@i18n/util";

function formatDate(dateString) {
  const options: Intl.DateTimeFormatOptions = {
    // year: "numeric",
    month: "long",
    day: "numeric",
  };
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("zh-CN", options).format(date);
}

const t = useTranslations(Astro);
export type Props = {
  itemData: {
    date: string;
    title: string;
    content: string;
    href: string;
    target: string;
  };
};

const { itemData } = Astro.props;
const { date, title, content, href, target } = itemData;
---

<div
  class={"card h-[8.75rem] pt-[16px] pb-[16px] pl-[24px] pr-[24px] shadow-none w-full"}
>
  <a href={href} target={target} class="flex flex-col w-[100%]">
    <div class="flex justify-between">
      <div class="flex items-center">
        <span class="text-lg font-medium text-primary">
          {date}
        </span>
        <div class="text-xs font-medium text-title ml-[8px]">
          {t("home.new.ann.activity")}
        </div>
        <div class="w-[1.3rem] h-[1.2rem]">
          <img class="w-[100%] h-[100%]" src="/img/home/hot.png" />
        </div>
      </div>
      <div class="w-[0.5rem] h-[0.5rem]">
        <img src="/img/home/arrow.svg" />
      </div>
    </div>
    <h3 class="card-title leading-[1.5rem] line-clamp-2 mt-[16px] truncate">
      {title}
    </h3>

    <div class="text-xs leading-[1.125rem] mt-[8px] simple-card-desc flex-1">
      <div class="multiline-text">
        {content}
      </div>
    </div>
  </a>
</div>

<style>
  .card {
    margin-bottom: 16px;
    flex-direction: row;
    background: #f5f5f5;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    img {
      width: 100%;
      height: 100%;
    }
    h3 {
      font-size: 1.125rem;
      font-weight: 500;
      color: #121316;
    }
    p {
      color: #9295a5;
    }
  }
  .card:hover {
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    transform: translateY(-4px);
    box-shadow:
      4px 4px 8px rgba(0, 0, 0, 0.1),
      -4px -4px 8px rgba(0, 0, 0, 0.1);
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  .simple-card-desc {
    width: 100%;
    overflow: hidden;

    .multiline-text {
      color: #121316;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; /* 控制显示的行数 */
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
