---
import { isChinese } from "@i18n/util";
import { useTranslations } from "@i18n/util";
import { Button } from "@serverless-cd/goat-ui";

const t = useTranslations(Astro);
const ifzh = isChinese(Astro);
const { active, source } = Astro.props;

function formatDate(dateString) {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  const date = new Date(dateString);
  return new Intl.DateTimeFormat("en-US", options).format(date);
}
---

<div class="item-content">
  <div class="item-content-top">
    <img src={active.img} />
  </div>
  <div class="active-des">
    <p class="text-xs font-normal">{formatDate(active.time)}</p>
    <div class="text-title text-[1.375rem] leading-8">{active.title}</div>
  </div>
  {
    source === "home" && (
      <Button
        size="small"
        type="card"
        href={active.href}
        variant=""
        class="rounded-3xl text-xs w-[51.5%] font-normal border-none bg-card-btn hover:bg-secondary"
      >
        {t("home.exciting.active.see")}
      </Button>
    )
  }
  {
    source === "community" && (
      <Button
        size="small"
        type="card"
        href={active.href}
        variant=""
        class="rounded-3xl text-xs w-[45%] font-normal border-none bg-[#EBECEF] hover:bg-secondary"
      >
        {t("home.exciting.active.see")}
      </Button>
    )
  }
</div>

<style is:global></style>
