---
import "@starlight/style/props.css";
import "@starlight/style/reset.css";
import "@starlight/style/shiki.css";
import "@starlight/style/util.css";
import "../style/global.css";
import "../style/fonts.css";
import "@starlight/style/asides.css";
import locales from "@i18n/languages";
import { useTranslations } from "@i18n/util";
import Head from "@components/starlight/Head.astro";
import HomeHeader from "@components/common/Header/index.astro";
const t = useTranslations(Astro);

export type Props = {
  title: string;
  description?: string;
  lang?: string;
  keywords?: string[] | string;
  align?: "home";
};
const { title, description, keywords, align = "home" } = Astro.props;
const headEntry = {
  data: {
    description: description,
    keywords: keywords || t("commmon.base.layout.keywords"),
    title: title,
    head: [],
  },
};

const url = new URL(Astro.url);
const base = import.meta.env.BASE_URL.replace(/\/$/, "");
const hasBase = url.pathname.startsWith(base);
if (hasBase) url.pathname = url.pathname.replace(base, "");
const [_leadingSlash, baseSegment] = url.pathname.split("/");
let lang = locales.root.lang;
if (baseSegment && baseSegment in locales) {
  lang = baseSegment;
}
Astro.props.lang = lang;
---

<html lang={Astro.props.lang} data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="data-spm" content="5176" />
    <Head entry={headEntry} />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
    <link data-rh="true" rel="icon" href="/rmq-icon.svg" />
    <meta name="baidu-site-verification" content="codeva-1bya6X4uPs" />
    <meta name="msvalidate.01" content="13E6F6553B48CE0B4EC2979BA2358815" />
    <script
      dangerouslySetInnerHTML={{
        __html: `
           var _hmt = _hmt || [];
           (function() {
             var hm = document.createElement("script");
             hm.src = "https://hm.baidu.com/hm.js?f0746b8baf7f7d9452b9d68351d83731";
             var s = document.getElementsByTagName("script")[0]; 
             s.parentNode.insertBefore(hm, s);
           })();
         `,
      }}></script>
    <!--初始化SDK-->
    <script>
      (function (w, d, s, q, i) {
        w[q] = w[q] || [];
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s);
        j.async = true;
        j.id = "beacon-aplus";
        j.setAttribute(
          "exparams",
          "userid=&aplus&sidx=aplusSidex&ckx=aplusCkx"
        );
        j.src = "//g.alicdn.com/alilog/mlog/aplus_v2.js";
        j.crossorigin = "anonymous";
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "aplus_queue");

      (function (d) {
        var t = d.createElement("script");
        t.type = "text/javascript";
        t.async = true;
        t.src =
          "//g.alicdn.com/aes/??tracker/3.3.4/index.js,tracker-plugin-pv/3.0.5/index.js,tracker-plugin-event/3.0.0/index.js,tracker-plugin-autolog/3.0.3/index.js,tracker-plugin-survey/3.0.3/index.js,tracker-plugin-jserror/3.0.3/index.js,tracker-plugin-resourceError/3.0.3/index.js,tracker-plugin-api/3.0.3/index.js,tracker-plugin-perf/3.0.3/index.js,tracker-plugin-longtask/3.0.1/index.js,tracker-plugin-eventTiming/3.0.0/index.js";
        t.onload = function () {
          if (window.location.hostname !== "rocketmq-learning.com") {
            return;
          }
          window.AES_CONFIG = window.AES_CONFIG || {
            // 判断当前环境
            env: "prod",
          };
          window.aes = new AES({
            pid: "DYzDY4",
            user_type: 6,
          });
          window.AESPluginAutologConfig = { exposure: "auto" };
          window.AEMPluginInstances = [
            aes.use(
              AESPluginPV,
              window.AESPluginPVConfig || { enableHistory: true }
            ),
            aes.use(AESPluginEvent, window.AESPluginEventConfig || {}),
            aes.use(AESPluginSurvey, window.AESPluginEventConfig || {}),
            aes.use(AESPluginAutolog, window.AESPluginAutologConfig || {}),
            aes.use(AESPluginJSError, window.AESPluginJSError || {}),
            aes.use(
              AESPluginResourceError,
              window.AESPluginResourceError || {}
            ),
            aes.use(AESPluginAPI, window.AESPluginAPI || {}),
            aes.use(AESPluginPerf, window.AESPluginPerf || {}),
            aes.use(AESPluginLongTask, window.AESPluginLongTask || {}),
            aes.use(AESPluginEventTiming, window.AESPluginEventTiming || {}),
          ];
        };
        setTimeout(function () {
          d.getElementsByTagName("body")[0].appendChild(t);
        }, 800);
      })(document);
    </script>
  </head>
  <body data-spm="29160081">
    <HomeHeader align={align} lang={Astro.props.lang} {...Astro.props} />
    <slot />
  </body>
</html>
